In [2]:
import pandas as pd
df = pd.read_csv(".\\res\\Real_GDP_per_capita.csv")

In [ ]:
# Handle duplicate entries before pivoting
df = df.drop_duplicates(subset=['Geopolitical entity (reporting)', 'TIME_PERIOD']).pivot(
 index='Geopolitical entity (reporting)',
 columns='TIME_PERIOD',
 values='OBS_VALUE'
).reset_index()

KeyError: Index(['TIME_PERIOD'], dtype='object')

In [ ]:
#Gpd per capita
df.to_csv(".\\res\\Real_GDP_per_capita_pulito.csv", index=False, quoting=0)

In [ ]:
df

TIME_PERIOD,Geopolitical entity (reporting),2020,2021,2022,2023,2024
0,Albania,4710.0,5190.0,5500.0,NaN,NaN
1,Austria,42650.0,44520.0,46350.0,45510.0,44830.0
2,Belgium,40190.0,42510.0,43960.0,44120.0,44300.0
3,Bulgaria,9450.0,10250.0,10740.0,10970.0,11300.0
4,Croatia,12840.0,14560.0,15640.0,16060.0,16710.0
5,Cyprus,24630.0,27030.0,28440.0,28670.0,29190.0
6,Czechia,20980.0,21830.0,21910.0,21660.0,21870.0
7,Denmark,53540.0,56780.0,56530.0,56470.0,58160.0
8,Estonia,20960.0,22440.0,22430.0,21210.0,21020.0
9,European Union - 27 countries (from 2020),30440.0,32370.0,33290.0,33300.0,33550.0
10,Finland,42740.0,43800.0,44010.0,43430.0,43040.0
11,France,34280.0,36470.0,37320.0,37760.0,38110.0
12,Germany,41480.0,42990.0,43260.0,42780.0,42580.0
13,Greece,15660.0,17110.0,18200.0,18670.0,19130.0
14,Hungary,14370.0,15470.0,16170.0,16060.0,16190.0
15,Iceland,53190.0,55040.0,58600.0,60380.0,59580.0
16,Ireland,75920.0,87260.0,92820.0,86090.0,85700.0
17,Italy,28100.0,30760.0,32310.0,32560.0,32810.0
18,Latvia,15370.0,16580.0,16870.0,17390.0,17510.0
19,Lithuania,17890.0,19040.0,19360.0,19160.0,19580.0
20,Luxembourg,102190.0,107570.0,104100.0,101450.0,100880.0
21,Malta,27890.0,31410.0,31910.0,32740.0,33610.0
22,Montenegro,6740.0,7640.0,8160.0,8460.0,NaN
23,Netherlands,46810.0,49490.0,51480.0,50660.0,50880.0
24,North Macedonia,5840.0,6170.0,6360.0,6510.0,NaN
25,Norway,60020.0,62030.0,63470.0,62790.0,63500.0
26,Poland,14310.0,15380.0,15840.0,15950.0,16470.0
27,Portugal,19360.0,20390.0,21690.0,22020.0,22230.0
28,Romania,11460.0,12190.0,12730.0,13030.0,13130.0
29,Serbia,7110.0,7740.0,8150.0,8520.0,8900.0
30,Slovakia,17270.0,18320.0,18350.0,18750.0,19130.0
31,Slovenia,22230.0,24040.0,24660.0,25050.0,25380.0
32,Spain,23850.0,25440.0,26770.0,27150.0,27740.0
33,Sweden,46180.0,48300.0,48390.0,47960.0,48300.0
34,Switzerland,75280.0,78880.0,80600.0,79940.0,80080.0
35,Türkiye,7520.0,8300.0,8670.0,9080.0,NaN

In [62]:
df.rename(columns={"Geopolitical entity (reporting)": "Stato"}, inplace=True)

if "TIME_PERIOD" in df.columns:
    df.drop(columns=["TIME_PERIOD"], inplace=True)


eu_row = df[df["Stato"].str.contains("European Union", na=False)]
df = df[~df["Stato"].str.contains("European Union", na=False)]


df = df.reset_index(drop=True)
df.insert(0, "ID", df.index)

if not eu_row.empty:
    eu_row = eu_row.reset_index(drop=True)
    eu_row.insert(0, "ID", len(df))
    df = pd.concat([df, eu_row], ignore_index=True)


df.to_csv(".\\res\\Real_GDP_per_capita_pulito1.csv", index=False)

df.head()

TIME_PERIOD  ID     Stato     2020     2021     2022     2023     2024
0             0   Albania   4710.0   5190.0   5500.0      NaN      NaN
1             1   Austria  42650.0  44520.0  46350.0  45510.0  44830.0
2             2   Belgium  40190.0  42510.0  43960.0  44120.0  44300.0
3             3  Bulgaria   9450.0  10250.0  10740.0  10970.0  11300.0
4             4   Croatia  12840.0  14560.0  15640.0  16060.0  16710.0

In [ ]:
# Carica il tuo CSV
df = pd.read_csv(".\\res\\Real_GDP_per_capita_pulito1.csv")  # <-- usa il nome corretto del file

# Mappa degli ID fissi
country_id_map = {
    "Albania": 0, "Austria": 1, "Belgium": 2, "Bosnia and Herzegovina": 3, "Bulgaria": 4,
    "Croatia": 5, "Cyprus": 6, "Czechia": 7, "Denmark": 8, "Estonia": 9,
    "Finland": 10, "France": 11, "Germany": 12, "Greece": 13, "Hungary": 14,
    "Iceland": 15, "Ireland": 16, "Italy": 17, "Kosovo*": 18, "Latvia": 19,
    "Lithuania": 20, "Luxembourg": 21, "Malta": 22, "Montenegro": 23, "Netherlands": 24,
    "North Macedonia": 25, "Norway": 26, "Poland": 27, "Portugal": 28, "Romania": 29,
    "Serbia": 30, "Slovakia": 31, "Slovenia": 32, "Spain": 33, "Sweden": 34,
    "Switzerland": 35, "Türkiye": 36, "Ukraine": 37,
    "European Union - 27 countries (from 2020)": 38
}

# Rimuovi la colonna ID esistente (verrà ricalcolata)
if "ID" in df.columns:
    df.drop(columns=["ID"], inplace=True)

# Applica mappa ID fissi
df["ID"] = df["Stato"].map(country_id_map)

# Verifica eventuali stati non trovati
missing = df[df["ID"].isna()]
if not missing.empty:
    print("Stati non trovati nella mappa degli ID:\n", missing["Stato"])

# Riordina le colonne: ID per primo
df = df[["ID"] + [col for col in df.columns if col != "ID"]]

# Ordina per ID
df = df.sort_values("ID").reset_index(drop=True)

# Salva il file corretto
df.to_csv(".\\res\\Real_GDP_per_capita_pulitoo.csv", index=False)

# Mostra anteprima
print(df.head())

   ID     Stato     2020     2021     2022     2023     2024
0   0   Albania   4710.0   5190.0   5500.0      NaN      NaN
1   1   Austria  42650.0  44520.0  46350.0  45510.0  44830.0
2   2   Belgium  40190.0  42510.0  43960.0  44120.0  44300.0
3   4  Bulgaria   9450.0  10250.0  10740.0  10970.0  11300.0
4   5   Croatia  12840.0  14560.0  15640.0  16060.0  16710.0

In [64]:
df1 = pd.read_csv(".\\res\\Arrears_mortgage_rent_utility_bills_hire purchase_2024.csv")
df1

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,hhtyp,Type of household,incgrp,Income situation in relation to the risk of poverty threshold,unit,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:ILC_MDES05(1.0),"Arrears (mortgage or rent, utility bills or hi...",A,Annual,TOTAL,Total,TOTAL,Total,PC,...,AL,Albania,2020,NaN,26.2,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:ILC_MDES05(1.0),"Arrears (mortgage or rent, utility bills or hi...",A,Annual,TOTAL,Total,TOTAL,Total,PC,...,AL,Albania,2021,NaN,27.9,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:ILC_MDES05(1.0),"Arrears (mortgage or rent, utility bills or hi...",A,Annual,TOTAL,Total,TOTAL,Total,PC,...,AT,Austria,2020,NaN,5.3,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:ILC_MDES05(1.0),"Arrears (mortgage or rent, utility bills or hi...",A,Annual,TOTAL,Total,TOTAL,Total,PC,...,AT,Austria,2021,NaN,4.8,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:ILC_MDES05(1.0),"Arrears (mortgage or rent, utility bills or hi...",A,Annual,TOTAL,Total,TOTAL,Total,PC,...,AT,Austria,2022,NaN,4.7,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,dataflow,ESTAT:ILC_MDES05(1.0),"Arrears (mortgage or rent, utility bills or hi...",A,Annual,TOTAL,Total,TOTAL,Total,PC,...,TR,Türkiye,2020,NaN,29.9,NaN,NaN,NaN,NaN,NaN
163,dataflow,ESTAT:ILC_MDES05(1.0),"Arrears (mortgage or rent, utility bills or hi...",A,Annual,TOTAL,Total,TOTAL,Total,PC,...,TR,Türkiye,2021,NaN,33.3,NaN,NaN,NaN,NaN,NaN
164,dataflow,ESTAT:ILC_MDES05(1.0),"Arrears (mortgage or rent, utility bills or hi...",A,Annual,TOTAL,Total,TOTAL,Total,PC,...,TR,Türkiye,2022,NaN,25.0,NaN,NaN,NaN,NaN,NaN
165,dataflow,ESTAT:ILC_MDES05(1.0),"Arrears (mortgage or rent, utility bills or hi...",A,Annual,TOTAL,Total,TOTAL,Total,PC,...,TR,Türkiye,2023,NaN,26.3,NaN,NaN,NaN,NaN,NaN
166,dataflow,ESTAT:ILC_MDES05(1.0),"Arrears (mortgage or rent, utility bills or hi...",A,Annual,TOTAL,Total,TOTAL,Total,PC,...,TR,Türkiye,2024,NaN,20.6,NaN,NaN,NaN,NaN,NaN

In [65]:
df1 = df1.drop_duplicates(subset=['Geopolitical entity (reporting)', 'TIME_PERIOD']).pivot(
 index='Geopolitical entity (reporting)',
 columns='TIME_PERIOD',
 values='OBS_VALUE'
).reset_index()

In [ ]:
df.rename(columns={"Geopolitical entity (reporting)": "Stato"}, inplace=True)

if "TIME_PERIOD" in df.columns:
    df.drop(columns=["TIME_PERIOD"], inplace=True)


eu_row = df[df["Stato"].str.contains("European Union", na=False)]
df = df[~df["Stato"].str.contains("European Union", na=False)]


df = df.reset_index(drop=True)
df.insert(0, "ID", df.index)

if not eu_row.empty:
    eu_row = eu_row.reset_index(drop=True)
    eu_row.insert(0, "ID", len(df))
    df = pd.concat([df, eu_row], ignore_index=True)


df.to_csv(".\\res\\Real_GDP_per_capita_pulito1.csv", index=False)

df.head()

TIME_PERIOD,Geopolitical entity (reporting),2020,2021,2022,2023,2024
0,Albania,26.2,27.9,NaN,NaN,NaN
1,Austria,5.3,4.8,4.7,6.9,7.5
2,Belgium,5.6,4.2,4.2,4.6,5.0
3,Bulgaria,23.6,20.4,19.9,18.8,18.7
4,Croatia,14.2,16.6,15.7,12.7,9.4
5,Cyprus,14.7,17.3,13.6,14.3,12.5
6,Czechia,3.0,2.4,2.7,2.9,3.4
7,Denmark,7.7,6.3,6.7,7.8,6.9
8,Estonia,5.7,5.7,5.8,5.8,7.1
9,European Union - 27 countries (from 2020),8.8,8.9,9.2,9.3,9.2
10,Finland,10.0,8.2,7.7,9.5,11.2
11,France,9.1,10.1,10.2,10.0,10.6
12,Germany,5.2,5.6,5.9,8.3,7.2
13,Greece,36.9,36.4,45.5,47.3,42.8
14,Hungary,11.6,11.2,10.3,10.8,9.3
15,Iceland,8.3,NaN,NaN,NaN,NaN
16,Ireland,14.6,13.7,12.9,10.6,12.2
17,Italy,6.8,7.7,6.2,5.0,5.3
18,Latvia,9.7,7.2,6.9,7.9,7.5
19,Lithuania,7.1,6.6,6.0,7.1,5.0
20,Luxembourg,4.9,6.6,7.2,8.7,8.5
21,Malta,7.0,7.8,6.1,5.7,5.9
22,Montenegro,32.1,31.8,30.6,NaN,NaN
23,Netherlands,3.2,2.6,2.9,2.6,3.9
24,North Macedonia,32.3,29.1,33.0,NaN,NaN
25,Norway,6.0,6.7,6.7,8.0,8.1
26,Poland,5.5,7.0,6.0,5.1,4.2
27,Portugal,5.4,6.8,6.1,5.2,5.7
28,Romania,14.8,9.4,18.4,14.4,15.3
29,Serbia,28.1,23.2,23.7,17.9,NaN
30,Slovakia,6.7,6.3,8.3,8.8,8.4
31,Slovenia,10.3,9.0,7.4,7.3,7.5
32,Spain,13.5,14.3,13.2,13.6,14.2
33,Sweden,4.9,5.2,6.2,6.7,7.3
34,Switzerland,7.7,6.9,7.1,7.8,NaN
35,Türkiye,29.9,33.3,25.0,26.3,20.6

In [66]:
df1.to_csv(".\\res\\Arrears_mortgage_rent_utility_bills_hire purchase_2024_pulito.csv", index=False, quoting=0)

In [69]:
df1.rename(columns={"Geopolitical entity (reporting)": "Stato"}, inplace=True)

if "TIME_PERIOD" in df1.columns:
    df1.drop(columns=["TIME_PERIOD"], inplace=True)


eu_row = df1[df1["Stato"].str.contains("European Union", na=False)]
df1 = df1[~df1["Stato"].str.contains("European Union", na=False)]


df1 = df1.reset_index(drop=True)
df1.insert(0, "ID", df1.index)

if not eu_row.empty:
    eu_row = eu_row.reset_index(drop=True)
    eu_row.insert(0, "ID", len(df1))
    df1 = pd.concat([df1, eu_row], ignore_index=True)


df1.to_csv(".\\res\\Arrears_mortgage_rent_utility_bills_hire purchase_2024_pulito1.csv", index=False)

df1.head()

   ID     Stato  2020  2021  2022  2023  2024
0   0   Albania  26.2  27.9   NaN   NaN   NaN
1   1   Austria   5.3   4.8   4.7   6.9   7.5
2   2   Belgium   5.6   4.2   4.2   4.6   5.0
3   3  Bulgaria  23.6  20.4  19.9  18.8  18.7
4   4   Croatia  14.2  16.6  15.7  12.7   9.4

In [70]:
# Carica il tuo CSV
df1 = pd.read_csv(".\\res\\Arrears_mortgage_rent_utility_bills_hire purchase_2024_pulito1.csv")  # <-- usa il nome corretto del file

# Mappa degli ID fissi
country_id_map = {
    "Albania": 0, "Austria": 1, "Belgium": 2, "Bosnia and Herzegovina": 3, "Bulgaria": 4,
    "Croatia": 5, "Cyprus": 6, "Czechia": 7, "Denmark": 8, "Estonia": 9,
    "Finland": 10, "France": 11, "Germany": 12, "Greece": 13, "Hungary": 14,
    "Iceland": 15, "Ireland": 16, "Italy": 17, "Kosovo*": 18, "Latvia": 19,
    "Lithuania": 20, "Luxembourg": 21, "Malta": 22, "Montenegro": 23, "Netherlands": 24,
    "North Macedonia": 25, "Norway": 26, "Poland": 27, "Portugal": 28, "Romania": 29,
    "Serbia": 30, "Slovakia": 31, "Slovenia": 32, "Spain": 33, "Sweden": 34,
    "Switzerland": 35, "Türkiye": 36, "Ukraine": 37,
    "European Union - 27 countries (from 2020)": 38
}

# Rimuovi la colonna ID esistente (verrà ricalcolata)
if "ID" in df1.columns:
    df1.drop(columns=["ID"], inplace=True)

# Applica mappa ID fissi
df1["ID"] = df1["Stato"].map(country_id_map)

# Verifica eventuali stati non trovati
missing = df1[df1["ID"].isna()]
if not missing.empty:
    print("Stati non trovati nella mappa degli ID:\n", missing["Stato"])

# Riordina le colonne: ID per primo
df1 = df1[["ID"] + [col for col in df1.columns if col != "ID"]]

# Ordina per ID
df1 = df1.sort_values("ID").reset_index(drop=True)

# Salva il file corretto
df1.to_csv(".\\res\\Arrears_mortgage_rent_utility_bills_hire purchase_2024_pulitoo.csv", index=False)

# Mostra anteprima
print(df1.head())

   ID     Stato  2020  2021  2022  2023  2024
0   0   Albania  26.2  27.9   NaN   NaN   NaN
1   1   Austria   5.3   4.8   4.7   6.9   7.5
2   2   Belgium   5.6   4.2   4.2   4.6   5.0
3   4  Bulgaria  23.6  20.4  19.9  18.8  18.7
4   5   Croatia  14.2  16.6  15.7  12.7   9.4

In [ ]:
df3 = pd.read_csv(".\\res\\At_risk_of_poverty_rate_by_poverty_threshold_age_and_sex.csv")
df3

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,unit,Unit of measure,indic_il,Income and living conditions indicator,sex,...,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag) V2 structure,CONF_STATUS,Confidentiality status (flag)
0,dataflow,ESTAT:ILC_LI02(1.0),"At-risk-of-poverty rate by poverty threshold, ...",A,Annual,PC,Percentage,LI_R_MD60,At risk of poverty rate (cut-off point: 60% of...,F,...,AT,Austria,2020,NaN,14.3,NaN,NaN,NaN,NaN,NaN
1,dataflow,ESTAT:ILC_LI02(1.0),"At-risk-of-poverty rate by poverty threshold, ...",A,Annual,PC,Percentage,LI_R_MD60,At risk of poverty rate (cut-off point: 60% of...,F,...,AT,Austria,2021,NaN,15.3,NaN,NaN,NaN,NaN,NaN
2,dataflow,ESTAT:ILC_LI02(1.0),"At-risk-of-poverty rate by poverty threshold, ...",A,Annual,PC,Percentage,LI_R_MD60,At risk of poverty rate (cut-off point: 60% of...,F,...,AT,Austria,2022,NaN,15.2,NaN,NaN,NaN,NaN,NaN
3,dataflow,ESTAT:ILC_LI02(1.0),"At-risk-of-poverty rate by poverty threshold, ...",A,Annual,PC,Percentage,LI_R_MD60,At risk of poverty rate (cut-off point: 60% of...,F,...,AT,Austria,2023,NaN,15.8,NaN,NaN,NaN,NaN,NaN
4,dataflow,ESTAT:ILC_LI02(1.0),"At-risk-of-poverty rate by poverty threshold, ...",A,Annual,PC,Percentage,LI_R_MD60,At risk of poverty rate (cut-off point: 60% of...,F,...,AT,Austria,2024,NaN,15.5,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,dataflow,ESTAT:ILC_LI02(1.0),"At-risk-of-poverty rate by poverty threshold, ...",A,Annual,PC,Percentage,LI_R_MD60,At risk of poverty rate (cut-off point: 60% of...,T,...,TR,Türkiye,2020,NaN,23.0,NaN,NaN,NaN,NaN,NaN
491,dataflow,ESTAT:ILC_LI02(1.0),"At-risk-of-poverty rate by poverty threshold, ...",A,Annual,PC,Percentage,LI_R_MD60,At risk of poverty rate (cut-off point: 60% of...,T,...,TR,Türkiye,2021,NaN,22.4,NaN,NaN,NaN,NaN,NaN
492,dataflow,ESTAT:ILC_LI02(1.0),"At-risk-of-poverty rate by poverty threshold, ...",A,Annual,PC,Percentage,LI_R_MD60,At risk of poverty rate (cut-off point: 60% of...,T,...,TR,Türkiye,2022,NaN,22.4,NaN,NaN,NaN,NaN,NaN
493,dataflow,ESTAT:ILC_LI02(1.0),"At-risk-of-poverty rate by poverty threshold, ...",A,Annual,PC,Percentage,LI_R_MD60,At risk of poverty rate (cut-off point: 60% of...,T,...,TR,Türkiye,2023,NaN,20.7,NaN,NaN,NaN,NaN,NaN
494,dataflow,ESTAT:ILC_LI02(1.0),"At-risk-of-poverty rate by poverty threshold, ...",A,Annual,PC,Percentage,LI_R_MD60,At risk of poverty rate (cut-off point: 60% of...,T,...,TR,Türkiye,2024,NaN,22.2,NaN,NaN,NaN,NaN,NaN

In [ ]:
df3 = df3.drop_duplicates(subset=['Geopolitical entity (reporting)', 'TIME_PERIOD']).pivot(
 index='Geopolitical entity (reporting)',
 columns='TIME_PERIOD',
 values='OBS_VALUE'
).reset_index()

In [ ]:
df3.to_csv(".\\res\\At_risk_of_poverty_rate_by_poverty_threshold_age_and_sex_pulito.csv")

In [71]:
df3.rename(columns={"Geopolitical entity (reporting)": "Stato"}, inplace=True)

if "TIME_PERIOD" in df3.columns:
    df3.drop(columns=["TIME_PERIOD"], inplace=True)


eu_row = df3[df3["Stato"].str.contains("European Union", na=False)]
df3 = df3[~df3["Stato"].str.contains("European Union", na=False)]


df3 = df3.reset_index(drop=True)
df3.insert(0, "ID", df3.index)

if not eu_row.empty:
    eu_row = eu_row.reset_index(drop=True)
    eu_row.insert(0, "ID", len(df3))
    df3 = pd.concat([df3, eu_row], ignore_index=True)


df3.to_csv(".\\res\\At_risk_of_poverty_rate_by_poverty_threshold_age_and_sex_pulito1.csv", index=False)

df3.head()

TIME_PERIOD  ID     Stato  2020  2021  2022  2023  2024
0             0   Austria  14.3  15.3  15.2  15.8  15.5
1             1   Belgium  14.4  13.0  13.5  12.4  11.4
2             2  Bulgaria  25.8  23.9  25.8  21.3  22.6
3             3   Croatia  19.6  21.1  20.0  21.2  22.2
4             4    Cyprus  15.3  15.0  15.1  15.1  16.0

In [72]:
# Carica il tuo CSV
df3 = pd.read_csv(".\\res\\At_risk_of_poverty_rate_by_poverty_threshold_age_and_sex_pulito1.csv")  # <-- usa il nome corretto del file

# Mappa degli ID fissi
country_id_map = {
    "Albania": 0, "Austria": 1, "Belgium": 2, "Bosnia and Herzegovina": 3, "Bulgaria": 4,
    "Croatia": 5, "Cyprus": 6, "Czechia": 7, "Denmark": 8, "Estonia": 9,
    "Finland": 10, "France": 11, "Germany": 12, "Greece": 13, "Hungary": 14,
    "Iceland": 15, "Ireland": 16, "Italy": 17, "Kosovo*": 18, "Latvia": 19,
    "Lithuania": 20, "Luxembourg": 21, "Malta": 22, "Montenegro": 23, "Netherlands": 24,
    "North Macedonia": 25, "Norway": 26, "Poland": 27, "Portugal": 28, "Romania": 29,
    "Serbia": 30, "Slovakia": 31, "Slovenia": 32, "Spain": 33, "Sweden": 34,
    "Switzerland": 35, "Türkiye": 36, "Ukraine": 37,
    "European Union - 27 countries (from 2020)": 38
}

# Rimuovi la colonna ID esistente (verrà ricalcolata)
if "ID" in df3.columns:
    df3.drop(columns=["ID"], inplace=True)

# Applica mappa ID fissi
df3["ID"] = df3["Stato"].map(country_id_map)

# Verifica eventuali stati non trovati
missing = df3[df3["ID"].isna()]
if not missing.empty:
    print("Stati non trovati nella mappa degli ID:\n", missing["Stato"])

# Riordina le colonne: ID per primo
df3 = df3[["ID"] + [col for col in df3.columns if col != "ID"]]

# Ordina per ID
df3 = df3.sort_values("ID").reset_index(drop=True)

# Salva il file corretto
df3.to_csv(".\\res\\At_risk_of_poverty_rate_by_poverty_threshold_age_and_sex_pulitoo.csv", index=False)

# Mostra anteprima
print(df3.head())

   ID     Stato  2020  2021  2022  2023  2024
0   1   Austria  14.3  15.3  15.2  15.8  15.5
1   2   Belgium  14.4  13.0  13.5  12.4  11.4
2   4  Bulgaria  25.8  23.9  25.8  21.3  22.6
3   5   Croatia  19.6  21.1  20.0  21.2  22.2
4   6    Cyprus  15.3  15.0  15.1  15.1  16.0

In [83]:
df4 = pd.read_csv(".\\res\\Compensation_of_employees.csv")

In [84]:
df4 = df4.drop_duplicates(subset=['Geopolitical entity (reporting)', 'TIME_PERIOD']).pivot(
 index='Geopolitical entity (reporting)',
 columns='TIME_PERIOD',
 values='OBS_VALUE'
).reset_index()

In [85]:
df4.to_csv(".\\res\\Compensation_of_employees_pulito.csv")

In [86]:
df4.rename(columns={"Geopolitical entity (reporting)": "Stato"}, inplace=True)

if "TIME_PERIOD" in df4.columns:
    df4.drop(columns=["TIME_PERIOD"], inplace=True)


eu_row = df4[df4["Stato"].str.contains("European Union", na=False)]
df4 = df4[~df4["Stato"].str.contains("European Union", na=False)]


df4 = df4.reset_index(drop=True)
df4.insert(0, "ID", df4.index)

if not eu_row.empty:
    eu_row = eu_row.reset_index(drop=True)
    eu_row.insert(0, "ID", len(df4))
    df4 = pd.concat([df4, eu_row], ignore_index=True)


df4.to_csv(".\\res\\Compensation_of_employees_pulito1.csv", index=False)

df4.head()

TIME_PERIOD,ID,Stato,2020,2021,2022,2023,2024
0,0,Albania,3459.6,3962.5,4501.6,5737.0,7367.7
1,1,Austria,192083.9,201416.4,217424.0,234829.5,254753.3
2,2,Belgium,230892.4,245676.8,269152.0,292661.1,301623.3
3,3,Bosnia and Herzegovina,8533.0,9089.0,10590.7,11994.8,13163.6
4,4,Bulgaria,27904.3,31356.8,35946.2,41375.2,46100.4

In [88]:
# Carica il tuo CSV
df4 = pd.read_csv(".\\res\\Compensation_of_employees_pulito1.csv")  # <-- usa il nome corretto del file

# Mappa degli ID fissi
country_id_map = {
    "Albania": 0, "Austria": 1, "Belgium": 2, "Bosnia and Herzegovina": 3, "Bulgaria": 4,
    "Croatia": 5, "Cyprus": 6, "Czechia": 7, "Denmark": 8, "Estonia": 9,
    "Finland": 10, "France": 11, "Germany": 12, "Greece": 13, "Hungary": 14,
    "Iceland": 15, "Ireland": 16, "Italy": 17, "Kosovo*": 18, "Latvia": 19,
    "Lithuania": 20, "Luxembourg": 21, "Malta": 22, "Montenegro": 23, "Netherlands": 24,
    "North Macedonia": 25, "Norway": 26, "Poland": 27, "Portugal": 28, "Romania": 29,
    "Serbia": 30, "Slovakia": 31, "Slovenia": 32, "Spain": 33, "Sweden": 34,
    "Switzerland": 35, "Türkiye": 36, "Ukraine": 37,
    "European Union - 27 countries (from 2020)": 38, 
    "Liechtenstein":39
}

# Rimuovi la colonna ID esistente (verrà ricalcolata)
if "ID" in df4.columns:
    df4.drop(columns=["ID"], inplace=True)

# Applica mappa ID fissi
df4["ID"] = df4["Stato"].map(country_id_map)

# Verifica eventuali stati non trovati
missing = df4[df4["ID"].isna()]
if not missing.empty:
    print("Stati non trovati nella mappa degli ID:\n", missing["Stato"])

# Riordina le colonne: ID per primo
df4 = df4[["ID"] + [col for col in df4.columns if col != "ID"]]

# Ordina per ID
df4 = df4.sort_values("ID").reset_index(drop=True)

# Salva il file corretto
df4.to_csv(".\\res\\Compensation_of_employees_pulitoo.csv", index=False)
df4["ID"] = df4["ID"].astype(int)
# Mostra anteprima
print(df4.head())

   ID                   Stato      2020      2021      2022      2023  \
0   0                 Albania    3459.6    3962.5    4501.6    5737.0
1   1                 Austria  192083.9  201416.4  217424.0  234829.5
2   2                 Belgium  230892.4  245676.8  269152.0  292661.1
3   3  Bosnia and Herzegovina    8533.0    9089.0   10590.7   11994.8
4   4                Bulgaria   27904.3   31356.8   35946.2   41375.2

       2024
0    7367.7
1  254753.3
2  301623.3
3   13163.6
4   46100.4

In [57]:
df5= pd.read_csv(".\\res\\Exports_of_goods_and_services_in_%_of_GDP.csv")

In [58]:
df5 = df5.drop_duplicates(subset=['Geopolitical entity (reporting)', 'TIME_PERIOD']).pivot(
 index='Geopolitical entity (reporting)',
 columns='TIME_PERIOD',
 values='OBS_VALUE'
).reset_index()

In [59]:
df5.to_csv(".\\res\\Exports_of_goods_and_services_in_%_of_GDP_pulito.csv")

In [ ]:

df5.rename(columns={"Geopolitical entity (reporting)": "Stato"}, inplace=True)

if "TIME_PERIOD" in df5.columns:
    df5.drop(columns=["TIME_PERIOD"], inplace=True)


eu_row = df5[df5["Stato"].str.contains("European Union", na=False)]
df5 = df5[~df5["Stato"].str.contains("European Union", na=False)]


df5 = df5.reset_index(drop=True)
df5.insert(0, "ID", df5.index)

if not eu_row.empty:
    eu_row = eu_row.reset_index(drop=True)
    eu_row.insert(0, "ID", len(df5))
    df5 = pd.concat([df5, eu_row], ignore_index=True)


df5.to_csv(".\\res\\Exports_of_goods_and_services_in_%_of_GDP_pulito1.csv", index=False)

df5.head()

TIME_PERIOD  ID                   Stato  2020  2021  2022  2023  2024
0             0                 Albania  22.5  31.1  37.2  38.4  36.3
1             1                 Austria  51.7  56.0  62.0  59.5  57.1
2             2                 Belgium  79.2  89.6  95.2  84.2  79.2
3             3  Bosnia and Herzegovina  34.6  42.8  48.3  43.9  42.8
4             4                Bulgaria  56.4  61.8  70.0  61.9  55.8

In [ ]:
df6 = pd.read_csv(".\\res\\Final_consumption_expenditure_of_households_by_consumption_purpose.csv")

In [ ]:
df6 = df6.drop_duplicates(subset=['Geopolitical entity (reporting)', 'TIME_PERIOD']).pivot(
 index='Geopolitical entity (reporting)',
 columns='TIME_PERIOD',
 values='OBS_VALUE'
).reset_index()

In [89]:
df6.rename(columns={"Geopolitical entity (reporting)": "Stato"}, inplace=True)

if "TIME_PERIOD" in df6.columns:
    df6.drop(columns=["TIME_PERIOD"], inplace=True)


eu_row = df6[df6["Stato"].str.contains("European Union", na=False)]
df6 = df6[~df6["Stato"].str.contains("European Union", na=False)]


df6 = df6.reset_index(drop=True)
df6.insert(0, "ID", df6.index)

if not eu_row.empty:
    eu_row = eu_row.reset_index(drop=True)
    eu_row.insert(0, "ID", len(df6))
    df6 = pd.concat([df6, eu_row], ignore_index=True)


df6.to_csv(".\\res\\Final_consumption_expenditure_of_households_by_consumption_purpose_pulito.csv", index=False)

df6.head()

TIME_PERIOD  ID                   Stato  2020  2021  2022  2023  2024
0             0                 Albania  31.5  28.9  28.6  28.0   NaN
1             1                 Austria  11.4  10.8  10.0   NaN   NaN
2             2                 Belgium  14.2  13.3  12.2   NaN   NaN
3             3  Bosnia and Herzegovina  32.3  31.3  32.2  32.7   NaN
4             4                Bulgaria  20.7  19.8  20.8   NaN   NaN

In [90]:
# Carica il tuo CSV
df6 = pd.read_csv(".\\res\\Final_consumption_expenditure_of_households_by_consumption_purpose_pulito.csv")  # <-- usa il nome corretto del file

# Mappa degli ID fissi
country_id_map = {
    "Albania": 0, "Austria": 1, "Belgium": 2, "Bosnia and Herzegovina": 3, "Bulgaria": 4,
    "Croatia": 5, "Cyprus": 6, "Czechia": 7, "Denmark": 8, "Estonia": 9,
    "Finland": 10, "France": 11, "Germany": 12, "Greece": 13, "Hungary": 14,
    "Iceland": 15, "Ireland": 16, "Italy": 17, "Kosovo*": 18, "Latvia": 19,
    "Lithuania": 20, "Luxembourg": 21, "Malta": 22, "Montenegro": 23, "Netherlands": 24,
    "North Macedonia": 25, "Norway": 26, "Poland": 27, "Portugal": 28, "Romania": 29,
    "Serbia": 30, "Slovakia": 31, "Slovenia": 32, "Spain": 33, "Sweden": 34,
    "Switzerland": 35, "Türkiye": 36, "Ukraine": 37,
    "European Union - 27 countries (from 2020)": 38, 
    "Liechtenstein":39
}

# Rimuovi la colonna ID esistente (verrà ricalcolata)
if "ID" in df6.columns:
    df6.drop(columns=["ID"], inplace=True)

# Applica mappa ID fissi
df6["ID"] = df6["Stato"].map(country_id_map)

# Verifica eventuali stati non trovati
missing = df6[df6["ID"].isna()]
if not missing.empty:
    print("Stati non trovati nella mappa degli ID:\n", missing["Stato"])

# Riordina le colonne: ID per primo
df6 = df6[["ID"] + [col for col in df6.columns if col != "ID"]]

# Ordina per ID
df6 = df6.sort_values("ID").reset_index(drop=True)

# Salva il file corretto
df6.to_csv(".\\res\\Final_consumption_expenditure_of_households_by_consumption_purpose_pulitoo.csv", index=False)
df6["ID"] = df6["ID"].astype(int)
# Mostra anteprima
print(df6.head())

   ID                   Stato  2020  2021  2022  2023  2024
0   0                 Albania  31.5  28.9  28.6  28.0   NaN
1   1                 Austria  11.4  10.8  10.0   NaN   NaN
2   2                 Belgium  14.2  13.3  12.2   NaN   NaN
3   3  Bosnia and Herzegovina  32.3  31.3  32.2  32.7   NaN
4   4                Bulgaria  20.7  19.8  20.8   NaN   NaN

In [ ]:
df8= pd.read_csv(".\\res\\GDP_per_capita_in_PPS.csv")

In [ ]:
df8 = df8.drop_duplicates(subset=['Geopolitical entity (reporting)', 'TIME_PERIOD']).pivot(
 index='Geopolitical entity (reporting)',
 columns='TIME_PERIOD',
 values='OBS_VALUE'
).reset_index()

df8.rename(columns={"Geopolitical entity (reporting)": "Stato"}, inplace=True)

if "TIME_PERIOD" in df8.columns:
    df8.drop(columns=["TIME_PERIOD"], inplace=True)


eu_row = df8[df8["Stato"].str.contains("European Union", na=False)]
df8 = df8[~df8["Stato"].str.contains("European Union", na=False)]


df8 = df8.reset_index(drop=True)
df8.insert(0, "ID", df8.index)

if not eu_row.empty:
    eu_row = eu_row.reset_index(drop=True)
    eu_row.insert(0, "ID", len(df8))
    df8 = pd.concat([df8, eu_row], ignore_index=True)

df8 = df8[~df8["Stato"].isin(["Japan", "United Kingdom", "United States"])]

df8.to_csv(".\\res\\GDP_per_capita_in_PPS_pulito.csv", index=False)

In [ ]:


country_id_map = {
    "Albania": 0, "Austria": 1, "Belgium": 2, "Bosnia and Herzegovina": 3, "Bulgaria": 4,
    "Croatia": 5, "Cyprus": 6, "Czechia": 7, "Denmark": 8, "Estonia": 9,
    "Finland": 10, "France": 11, "Germany": 12, "Greece": 13, "Hungary": 14,
    "Iceland": 15, "Ireland": 16, "Italy": 17, "Kosovo*": 18, "Latvia": 19,
    "Lithuania": 20, "Luxembourg": 21, "Malta": 22, "Montenegro": 23, "Netherlands": 24,
    "North Macedonia": 25, "Norway": 26, "Poland": 27, "Portugal": 28, "Romania": 29,
    "Serbia": 30, "Slovakia": 31, "Slovenia": 32, "Spain": 33, "Sweden": 34,
    "Switzerland": 35, "Türkiye": 36, "Ukraine": 37,
    "European Union - 27 countries (from 2020)": 38, 
    "Liechtenstein":39
}

# Rimuovi la colonna ID esistente (verrà ricalcolata)
if "ID" in df8.columns:
    df8.drop(columns=["ID"], inplace=True)

# Applica mappa ID fissi
df8["ID"] = df8["Stato"].map(country_id_map)

# Verifica eventuali stati non trovati
missing = df8[df8["ID"].isna()]
if not missing.empty:
    print("Stati non trovati nella mappa degli ID:\n", missing["Stato"])

# Riordina le colonne: ID per primo
df8 = df8[["ID"] + [col for col in df8.columns if col != "ID"]]

# Ordina per ID
df8 = df8.sort_values("ID").reset_index(drop=True)
df8["ID"] = df8["ID"].astype(int)


# Salva il file corretto
df8.to_csv(".\\res\\GDP_per_capita_in_PPS_pulitoo.csv", index=False)

# Mostra anteprima
print(df8.head())

TIME_PERIOD  ID                   Stato   2020   2021   2022   2023   2024
0             0                 Albania   30.0   31.0   34.0   36.0   37.0
1             1                 Austria  123.0  121.0  123.0  120.0  116.0
2             2                 Belgium  118.0  117.0  119.0  118.0  116.0
3             3  Bosnia and Herzegovina   33.0   33.0   34.0   36.0   35.0
4             4                Bulgaria   57.0   60.0   62.0   64.0   66.0

In [101]:
df8=pd.read_csv(".\\res\\Gdp_set_agricoltura_2020_2024.csv")

In [103]:
df8 = df8.drop_duplicates(subset=['Geopolitical entity (reporting)', 'TIME_PERIOD']).pivot(
 index='Geopolitical entity (reporting)',
 columns='TIME_PERIOD',
 values='OBS_VALUE'
).reset_index()

df8.rename(columns={"Geopolitical entity (reporting)": "Stato"}, inplace=True)

if "TIME_PERIOD" in df8.columns:
    df8.drop(columns=["TIME_PERIOD"], inplace=True)


eu_row = df8[df8["Stato"].str.contains("European Union", na=False)]
df8 = df8[~df8["Stato"].str.contains("European Union", na=False)]


df8 = df8.reset_index(drop=True)
df8.insert(0, "ID", df8.index)

if not eu_row.empty:
    eu_row = eu_row.reset_index(drop=True)
    eu_row.insert(0, "ID", len(df8))
    df8 = pd.concat([df8, eu_row], ignore_index=True)



df8.to_csv(".\\res\\Gdp_set_agricoltura_2020_2024_pulito.csv", index=False)

In [104]:
country_id_map = {
    "Albania": 0, "Austria": 1, "Belgium": 2, "Bosnia and Herzegovina": 3, "Bulgaria": 4,
    "Croatia": 5, "Cyprus": 6, "Czechia": 7, "Denmark": 8, "Estonia": 9,
    "Finland": 10, "France": 11, "Germany": 12, "Greece": 13, "Hungary": 14,
    "Iceland": 15, "Ireland": 16, "Italy": 17, "Kosovo*": 18, "Latvia": 19,
    "Lithuania": 20, "Luxembourg": 21, "Malta": 22, "Montenegro": 23, "Netherlands": 24,
    "North Macedonia": 25, "Norway": 26, "Poland": 27, "Portugal": 28, "Romania": 29,
    "Serbia": 30, "Slovakia": 31, "Slovenia": 32, "Spain": 33, "Sweden": 34,
    "Switzerland": 35, "Türkiye": 36, "Ukraine": 37,
    "European Union - 27 countries (from 2020)": 38, 
    "Liechtenstein":39
}

# Rimuovi la colonna ID esistente (verrà ricalcolata)
if "ID" in df8.columns:
    df8.drop(columns=["ID"], inplace=True)

# Applica mappa ID fissi
df8["ID"] = df8["Stato"].map(country_id_map)

# Verifica eventuali stati non trovati
missing = df8[df8["ID"].isna()]
if not missing.empty:
    print("Stati non trovati nella mappa degli ID:\n", missing["Stato"])

# Riordina le colonne: ID per primo
df8 = df8[["ID"] + [col for col in df8.columns if col != "ID"]]

# Ordina per ID
df8 = df8.sort_values("ID").reset_index(drop=True)
df8["ID"] = df8["ID"].astype(int)


# Salva il file corretto
df8.to_csv(".\\res\\Gdp_set_agricoltura_2020_2024_pulitoo.csv", index=False)

# Mostra anteprima
print(df8.head())

TIME_PERIOD  ID                   Stato  2020  2021  2022  2023  2024
0             0                 Albania  0.33 -0.32 -0.86 -0.23 -0.32
1             1                 Austria -0.03  0.07  0.08 -0.04  0.03
2             2                 Belgium -0.03 -0.01  0.01  0.01  0.05
3             3  Bosnia and Herzegovina  0.36 -0.48  0.08 -0.09 -0.03
4             4                Bulgaria -0.09  1.03 -0.31 -0.57 -0.18

In [105]:
df9=pd.read_csv(".\\res\\Gdp_set_amministrazione_pubblica_difesa_educazione_salute(terziario).csv")

In [106]:
df9 = df9.drop_duplicates(subset=['Geopolitical entity (reporting)', 'TIME_PERIOD']).pivot(
 index='Geopolitical entity (reporting)',
 columns='TIME_PERIOD',
 values='OBS_VALUE'
).reset_index()

df9.rename(columns={"Geopolitical entity (reporting)": "Stato"}, inplace=True)

if "TIME_PERIOD" in df9.columns:
    df9.drop(columns=["TIME_PERIOD"], inplace=True)


eu_row = df9[df9["Stato"].str.contains("European Union", na=False)]
df9 = df9[~df9["Stato"].str.contains("European Union", na=False)]


df9 = df9.reset_index(drop=True)
df9.insert(0, "ID", df9.index)

if not eu_row.empty:
    eu_row = eu_row.reset_index(drop=True)
    eu_row.insert(0, "ID", len(df9))
    df9 = pd.concat([df9, eu_row], ignore_index=True)



df9.to_csv(".\\res\\Gdp_set_amministrazione_pubblica_difesa_educazione_salute(terziario)_pulito.csv", index=False)

In [107]:
country_id_map = {
    "Albania": 0, "Austria": 1, "Belgium": 2, "Bosnia and Herzegovina": 3, "Bulgaria": 4,
    "Croatia": 5, "Cyprus": 6, "Czechia": 7, "Denmark": 8, "Estonia": 9,
    "Finland": 10, "France": 11, "Germany": 12, "Greece": 13, "Hungary": 14,
    "Iceland": 15, "Ireland": 16, "Italy": 17, "Kosovo*": 18, "Latvia": 19,
    "Lithuania": 20, "Luxembourg": 21, "Malta": 22, "Montenegro": 23, "Netherlands": 24,
    "North Macedonia": 25, "Norway": 26, "Poland": 27, "Portugal": 28, "Romania": 29,
    "Serbia": 30, "Slovakia": 31, "Slovenia": 32, "Spain": 33, "Sweden": 34,
    "Switzerland": 35, "Türkiye": 36, "Ukraine": 37,
    "European Union - 27 countries (from 2020)": 38, 
    "Liechtenstein":39
}

# Rimuovi la colonna ID esistente (verrà ricalcolata)
if "ID" in df9.columns:
    df9.drop(columns=["ID"], inplace=True)

# Applica mappa ID fissi
df9["ID"] = df9["Stato"].map(country_id_map)

# Verifica eventuali stati non trovati
missing = df9[df9["ID"].isna()]
if not missing.empty:
    print("Stati non trovati nella mappa degli ID:\n", missing["Stato"])

# Riordina le colonne: ID per primo
df9 = df9[["ID"] + [col for col in df9.columns if col != "ID"]]

# Ordina per ID
df9 = df9.sort_values("ID").reset_index(drop=True)
df9["ID"] = df9["ID"].astype(int)


# Salva il file corretto
df9.to_csv(".\\res\\Gdp_set_amministrazione_pubblica_difesa_educazione_salute(terziario)_pulitoo.csv", index=False)

# Mostra anteprima
print(df9.head())

TIME_PERIOD  ID                   Stato  2020  2021  2022  2023  2024
0             0                 Albania  0.39  1.24  0.14  0.61  1.20
1             1                 Austria -0.64  0.77  0.29  0.35  0.29
2             2                 Belgium -0.41  1.03  0.95  0.38  0.29
3             3  Bosnia and Herzegovina  0.11  0.41  0.26  0.32  0.47
4             4                Bulgaria  0.37  0.12  0.98  0.39  0.77

In [109]:
df10 = pd.read_csv(".\\res\\Gdp_set_arte_intrattenimento_servizi(terziario).csv")

In [110]:
df10 = df10.drop_duplicates(subset=['Geopolitical entity (reporting)', 'TIME_PERIOD']).pivot(
 index='Geopolitical entity (reporting)',
 columns='TIME_PERIOD',
 values='OBS_VALUE'
).reset_index()

df10.rename(columns={"Geopolitical entity (reporting)": "Stato"}, inplace=True)

if "TIME_PERIOD" in df10.columns:
    df10.drop(columns=["TIME_PERIOD"], inplace=True)


eu_row = df10[df10["Stato"].str.contains("European Union", na=False)]
df10 = df10[~df10["Stato"].str.contains("European Union", na=False)]


df10 = df10.reset_index(drop=True)
df10.insert(0, "ID", df10.index)

if not eu_row.empty:
    eu_row = eu_row.reset_index(drop=True)
    eu_row.insert(0, "ID", len(df10))
    df10 = pd.concat([df10, eu_row], ignore_index=True)



df10.to_csv(".\\res\\Gdp_set_arte_intrattenimento_servizi(terziario)_pulito.csv", index=False)

In [ ]:
country_id_map = {
    "Albania": 0, "Austria": 1, "Belgium": 2, "Bosnia and Herzegovina": 3, "Bulgaria": 4,
    "Croatia": 5, "Cyprus": 6, "Czechia": 7, "Denmark": 8, "Estonia": 9,
    "Finland": 10, "France": 11, "Germany": 12, "Greece": 13, "Hungary": 14,
    "Iceland": 15, "Ireland": 16, "Italy": 17, "Kosovo*": 18, "Latvia": 19,
    "Lithuania": 20, "Luxembourg": 21, "Malta": 22, "Montenegro": 23, "Netherlands": 24,
    "North Macedonia": 25, "Norway": 26, "Poland": 27, "Portugal": 28, "Romania": 29,
    "Serbia": 30, "Slovakia": 31, "Slovenia": 32, "Spain": 33, "Sweden": 34,
    "Switzerland": 35, "Türkiye": 36, "Ukraine": 37,
    "European Union - 27 countries (from 2020)": 38, 
    "Liechtenstein":39
}


if "ID" in df10.columns:
    df10.drop(columns=["ID"], inplace=True)


df10["ID"] = df10["Stato"].map(country_id_map)


missing = df10[df10["ID"].isna()]


df10 = df10[["ID"] + [col for col in df10.columns if col != "ID"]]


df10 = df10.sort_values("ID").reset_index(drop=True)
df10["ID"] = df10["ID"].astype(int)



df10.to_csv(".\\res\\Gdp_set_arte_intrattenimento_servizi(terziario)_pulitoo.csv", index=False)


print(df10.head())

TIME_PERIOD  ID                   Stato  2020  2021  2022  2023  2024
0             0                 Albania -0.07  0.28  0.32  0.19  0.17
1             1                 Austria -0.42  0.10  0.41  0.11  0.01
2             2                 Belgium -0.36  0.22  0.21  0.06  0.02
3             3  Bosnia and Herzegovina -0.16  0.17  0.16  0.15  0.09
4             4                Bulgaria -0.42 -0.04 -0.02 -0.04  0.01

In [112]:
df11=pd.read_csv(".\\res\\Gdp_set_industria_2020_2024.csv")

In [113]:
df11 = df11.drop_duplicates(subset=['Geopolitical entity (reporting)', 'TIME_PERIOD']).pivot(
 index='Geopolitical entity (reporting)',
 columns='TIME_PERIOD',
 values='OBS_VALUE'
).reset_index()

df11.rename(columns={"Geopolitical entity (reporting)": "Stato"}, inplace=True)

if "TIME_PERIOD" in df11.columns:
    df11.drop(columns=["TIME_PERIOD"], inplace=True)


eu_row = df11[df11["Stato"].str.contains("European Union", na=False)]
df11 = df11[~df11["Stato"].str.contains("European Union", na=False)]


df11 = df11.reset_index(drop=True)
df11.insert(0, "ID", df11.index)

if not eu_row.empty:
    eu_row = eu_row.reset_index(drop=True)
    eu_row.insert(0, "ID", len(df11))
    df11 = pd.concat([df11, eu_row], ignore_index=True)



df11.to_csv(".\\res\\Gdp_set_industria_2020_2024_pulito.csv", index=False)

In [114]:
country_id_map = {
    "Albania": 0, "Austria": 1, "Belgium": 2, "Bosnia and Herzegovina": 3, "Bulgaria": 4,
    "Croatia": 5, "Cyprus": 6, "Czechia": 7, "Denmark": 8, "Estonia": 9,
    "Finland": 10, "France": 11, "Germany": 12, "Greece": 13, "Hungary": 14,
    "Iceland": 15, "Ireland": 16, "Italy": 17, "Kosovo*": 18, "Latvia": 19,
    "Lithuania": 20, "Luxembourg": 21, "Malta": 22, "Montenegro": 23, "Netherlands": 24,
    "North Macedonia": 25, "Norway": 26, "Poland": 27, "Portugal": 28, "Romania": 29,
    "Serbia": 30, "Slovakia": 31, "Slovenia": 32, "Spain": 33, "Sweden": 34,
    "Switzerland": 35, "Türkiye": 36, "Ukraine": 37,
    "European Union - 27 countries (from 2020)": 38, 
    "Liechtenstein":39
}


if "ID" in df11.columns:
    df11.drop(columns=["ID"], inplace=True)


df11["ID"] = df11["Stato"].map(country_id_map)


missing = df11[df11["ID"].isna()]


df11 = df11[["ID"] + [col for col in df11.columns if col != "ID"]]


df11 = df11.sort_values("ID").reset_index(drop=True)
df11["ID"] = df11["ID"].astype(int)



df11.to_csv(".\\res\\Gdp_set_industria_2020_2024_pulitoo.csv", index=False)


print(df11.head())

TIME_PERIOD  ID                   Stato  2020  2021  2022  2023  2024
0             0                 Albania -0.86  0.92  0.48  0.43 -0.52
1             1                 Austria -1.34  1.80  1.17 -0.16 -1.07
2             2                 Belgium -0.75 -0.72  0.84  0.07 -0.13
3             3  Bosnia and Herzegovina -0.74  2.15  0.36 -0.53 -0.89
4             4                Bulgaria -1.47  0.66  2.46 -1.17  0.22

In [3]:
df12 = pd.read_csv(".\\res\\Gdp_set_vendite_trasporti_case_cibo(terziario).csv")

In [4]:
df12 = df12.drop_duplicates(subset=['Geopolitical entity (reporting)', 'TIME_PERIOD']).pivot(
 index='Geopolitical entity (reporting)',
 columns='TIME_PERIOD',
 values='OBS_VALUE'
).reset_index()

df12.rename(columns={"Geopolitical entity (reporting)": "Stato"}, inplace=True)

if "TIME_PERIOD" in df12.columns:
    df12.drop(columns=["TIME_PERIOD"], inplace=True)


eu_row = df12[df12["Stato"].str.contains("European Union", na=False)]
df12 = df12[~df12["Stato"].str.contains("European Union", na=False)]


df12 = df12.reset_index(drop=True)
df12.insert(0, "ID", df12.index)

if not eu_row.empty:
    eu_row = eu_row.reset_index(drop=True)
    eu_row.insert(0, "ID", len(df12))
    df12 = pd.concat([df12, eu_row], ignore_index=True)



df12.to_csv(".\\res\\Gdp_set_vendite_trasporti_case_cibo(terziario)_pulito.csv", index=False)

In [5]:
country_id_map = {
    "Albania": 0, "Austria": 1, "Belgium": 2, "Bosnia and Herzegovina": 3, "Bulgaria": 4,
    "Croatia": 5, "Cyprus": 6, "Czechia": 7, "Denmark": 8, "Estonia": 9,
    "Finland": 10, "France": 11, "Germany": 12, "Greece": 13, "Hungary": 14,
    "Iceland": 15, "Ireland": 16, "Italy": 17, "Kosovo*": 18, "Latvia": 19,
    "Lithuania": 20, "Luxembourg": 21, "Malta": 22, "Montenegro": 23, "Netherlands": 24,
    "North Macedonia": 25, "Norway": 26, "Poland": 27, "Portugal": 28, "Romania": 29,
    "Serbia": 30, "Slovakia": 31, "Slovenia": 32, "Spain": 33, "Sweden": 34,
    "Switzerland": 35, "Türkiye": 36, "Ukraine": 37,
    "European Union - 27 countries (from 2020)": 38, 
    "Liechtenstein":39
}


if "ID" in df12.columns:
    df12.drop(columns=["ID"], inplace=True)


df12["ID"] = df12["Stato"].map(country_id_map)


missing = df12[df12["ID"].isna()]


df12 = df12[["ID"] + [col for col in df12.columns if col != "ID"]]


df12 = df12.sort_values("ID").reset_index(drop=True)
df12["ID"] = df12["ID"].astype(int)



df12.to_csv(".\\res\\Gdp_set_vendite_trasporti_case_cibo(terziario)_pulitoo.csv", index=False)


print(df12.head())

TIME_PERIOD  ID                   Stato  2020  2021  2022  2023  2024
0             0                 Albania -1.35  1.38  1.52  1.56  1.02
1             1                 Austria -2.43 -0.08  2.34 -0.60 -0.31
2             2                 Belgium -1.48  1.92  1.12  0.10 -0.04
3             3  Bosnia and Herzegovina -2.15  2.35  1.57  0.64  1.45
4             4                Bulgaria -1.19  2.54  0.22  1.12  0.72